@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Aladin);
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  background: #EEE;
  font: normal 90%/1 arial;
}

/* line 17, ../sass/screen.scss */
header {
  padding: 30px 0 20px;
  margin: 0 auto;
  text-align: center;
  font: normal 4em/1 "Aladin", arial;
  background: #99D5F6;
  color: #FFF;
  text-shadow: #0c5a84 0 1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c8e8fa), color-stop(100%, #99d5f6));
  background: -webkit-linear-gradient(#c8e8fa, #99d5f6);
  background: -moz-linear-gradient(#c8e8fa, #99d5f6);
  background: -o-linear-gradient(#c8e8fa, #99d5f6);
  background: -ms-linear-gradient(#c8e8fa, #99d5f6);
  background: linear-gradient(#c8e8fa, #99d5f6);
}

/* line 28, ../sass/screen.scss */
#logo {
  float: left;
  min-width: 200px;
  font: bold 1.5em 'Economica', arial;
}

/* line 35, ../sass/screen.scss */
#menu {
  padding: 10px 20px;
  margin-top: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #bbbbbb));
  background: -webkit-linear-gradient(#aaaaaa, #bbbbbb);
  background: -moz-linear-gradient(#aaaaaa, #bbbbbb);
  background: -o-linear-gradient(#aaaaaa, #bbbbbb);
  background: -ms-linear-gradient(#aaaaaa, #bbbbbb);
  background: linear-gradient(#aaaaaa, #bbbbbb);
}
/* line 40, ../sass/screen.scss */
#menu li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#menu li {
  *display: inline;
}

/* line 45, ../sass/screen.scss */
.button {
  padding: 5px 10px;
  color: #EEE;
  cursor: pointer;
  font: bold 1em 'Economica', arial;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: #333333 0 1px 0, #cccccc 0 -1px 0;
  -moz-box-shadow: #333333 0 1px 0, #cccccc 0 -1px 0;
  box-shadow: #333333 0 1px 0, #cccccc 0 -1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#555555, #333333);
  background: -moz-linear-gradient(#555555, #333333);
  background: -o-linear-gradient(#555555, #333333);
  background: -ms-linear-gradient(#555555, #333333);
  background: linear-gradient(#555555, #333333);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button {
  *display: inline;
}
/* line 54, ../sass/screen.scss */
.button:hover, .button:focus {
  background: #333;
}

/* line 59, ../sass/screen.scss */
.toolbar {
  display: none;
  padding: 10px 20px;
  margin-top: 2px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aaaaaa), color-stop(100%, #bbbbbb));
  background: -webkit-linear-gradient(#aaaaaa, #bbbbbb);
  background: -moz-linear-gradient(#aaaaaa, #bbbbbb);
  background: -o-linear-gradient(#aaaaaa, #bbbbbb);
  background: -ms-linear-gradient(#aaaaaa, #bbbbbb);
  background: linear-gradient(#aaaaaa, #bbbbbb);
}
/* line 65, ../sass/screen.scss */
.toolbar h2 {
  float: left;
  min-width: 200px;
  font: bold 1.5em 'Economica', arial;
}
/* line 71, ../sass/screen.scss */
.toolbar label {
  font: bold 1em 'Economica', arial;
}
/* line 74, ../sass/screen.scss */
.toolbar input[type='text'] {
  width: 50px;
}
/* line 77, ../sass/screen.scss */
.toolbar #columns-width {
  display: inline;
}

/* line 82, ../sass/screen.scss */
#insert-position {
  display: inline;
}

/* line 86, ../sass/screen.scss */
#page {
  width: 960px;
  background: #DDD;
  margin-top: 2%;
  margin-bottom: 2%;
}
/* line 93, ../sass/screen.scss */
#page div {
  min-height: 100px;
}
/* line 96, ../sass/screen.scss */
#page .col {
  float: left;
  background: #FFF;
  height: 100px;
  position: relative;
  outline: 0;
  overflow: hidden;
}
/* line 105, ../sass/screen.scss */
#page .col.selected {
  background: #FFA;
}
