@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Aladin);
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/screen.scss */
body {
  background: #555;
  font: normal 90%/1 arial;
}

/* line 17, ../sass/screen.scss */
header {
  padding: 30px 0 20px;
  margin: 0 auto;
  text-align: center;
  font: normal 4em/1 "Aladin", arial;
  background: #99D5F6;
  color: #FFF;
  text-shadow: #0c5a84 0 1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c8e8fa), color-stop(100%, #99d5f6));
  background: -webkit-linear-gradient(#c8e8fa, #99d5f6);
  background: -moz-linear-gradient(#c8e8fa, #99d5f6);
  background: -o-linear-gradient(#c8e8fa, #99d5f6);
  background: -ms-linear-gradient(#c8e8fa, #99d5f6);
  background: linear-gradient(#c8e8fa, #99d5f6);
}

/* line 28, ../sass/screen.scss */
#logo {
  float: left;
  min-width: 200px;
  color: #EEE;
  font: bold 1.5em 'Economica', arial;
  cursor: pointer;
  text-shadow: black 0 -1px 1px;
}

/* line 38, ../sass/screen.scss */
#menu {
  padding: 10px 20px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#444444, #333333);
  background: -moz-linear-gradient(#444444, #333333);
  background: -o-linear-gradient(#444444, #333333);
  background: -ms-linear-gradient(#444444, #333333);
  background: linear-gradient(#444444, #333333);
}
/* line 43, ../sass/screen.scss */
#menu li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#menu li {
  *display: inline;
}

/* line 48, ../sass/screen.scss */
.button {
  padding: 7px 10px;
  color: #EEE;
  cursor: pointer;
  font: bold 1em 'Economica', arial;
  border: 1px solid #111;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: black 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button {
  *display: inline;
}
/* line 59, ../sass/screen.scss */
.button:hover, .button:focus {
  color: #333;
  border: 0;
  margin: 1px;
  text-shadow: #cccccc 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: -ms-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
}

/* line 68, ../sass/screen.scss */
.toolbar {
  display: none;
  padding: 10px 20px;
  margin-top: 2px;
  background: #333;
}
/* line 75, ../sass/screen.scss */
.toolbar h2 {
  float: left;
  min-width: 200px;
  color: #EEE;
  font: bold 1.5em 'Economica', arial;
  text-shadow: black 0 -1px 1px;
}
/* line 83, ../sass/screen.scss */
.toolbar .field {
  padding: 7px 10px;
  border: 1px solid #111;
  position: relative;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: #111111 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.toolbar .field {
  *display: inline;
}
/* line 91, ../sass/screen.scss */
.toolbar .field label {
  color: #EEE;
  font: bold 1em 'Economica', arial;
  margin-right: 7px;
  float: left;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  text-shadow: black 0 -1px 1px;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.toolbar .field label {
  *display: inline;
}
/* line 99, ../sass/screen.scss */
.toolbar .field .input {
  margin-right: 10px;
  min-width: 20px;
  color: #EEE;
  float: right;
  font: bold 1em 'Economica', arial;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.toolbar .field .input {
  *display: inline;
}
/* line 107, ../sass/screen.scss */
.toolbar .field .sb {
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 15px;
  text-align: center;
  color: #FFF;
  line-height: 15px;
  cursor: pointer;
  text-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 119, ../sass/screen.scss */
.toolbar .field .sb:hover, .toolbar .field .sb:focus {
  color: #333;
  text-shadow: #cccccc 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: -ms-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
}
/* line 125, ../sass/screen.scss */
.toolbar .field .sb-plus {
  top: 0;
  border: solid #111;
  border-width: 0 0 1px 1px;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
/* line 131, ../sass/screen.scss */
.toolbar .field .sb-minus {
  bottom: 0;
  line-height: 14px;
  border-left: 1px solid #111;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
/* line 137, ../sass/screen.scss */
.toolbar .field ::selection {
  background: transparent;
}
/* line 140, ../sass/screen.scss */
.toolbar .field ::-moz-selection {
  background: transparent;
}
/* line 144, ../sass/screen.scss */
.toolbar input[type='text'] {
  border: 0;
  float: right;
  font: bold 1em 'Economica', arial;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#cccccc, #eeeeee);
  background: -moz-linear-gradient(#cccccc, #eeeeee);
  background: -o-linear-gradient(#cccccc, #eeeeee);
  background: -ms-linear-gradient(#cccccc, #eeeeee);
  background: linear-gradient(#cccccc, #eeeeee);
}
/* line 148, ../sass/screen.scss */
.toolbar input[type='text'].small {
  width: 30px;
}
/* line 149, ../sass/screen.scss */
.toolbar input[type='text'].medium {
  width: 100px;
}
/* line 150, ../sass/screen.scss */
.toolbar input[type='text'].large {
  width: 180px;
}
/* line 151, ../sass/screen.scss */
.toolbar input[type='text'].adjustable {
  margin-right: 20px;
}
/* line 154, ../sass/screen.scss */
.toolbar input[type='text']::selection {
  background: red;
}
/* line 157, ../sass/screen.scss */
.toolbar input[type='text']::-moz-selection {
  background: lightgreen;
}
/* line 161, ../sass/screen.scss */
.toolbar #columns-width {
  display: inline;
}
/* line 164, ../sass/screen.scss */
.toolbar textarea {
  width: 50%;
  height: 300px;
}

/* line 170, ../sass/screen.scss */
#insert-position {
  display: inline;
}

/* line 174, ../sass/screen.scss */
#page {
  width: 960px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 181, ../sass/screen.scss */
#page .col {
  float: left;
  background: #FFF;
  min-height: 100px;
  position: relative;
  outline: 0;
  overflow: hidden;
}
/* line 190, ../sass/screen.scss */
#page .col.selected {
  background: #FFA;
}
