@import url(http://fonts.googleapis.com/css?family=Economica:700);
@import url(http://fonts.googleapis.com/css?family=Aladin);
/* line 17, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/screen.scss */
body {
  background: #555;
  font: normal 90%/1 arial;
}

/* line 29, ../sass/screen.scss */
#logo {
  width: 980px;
  margin: 0 auto;
  padding-top: 10px;
  color: #EEE;
  font: bold 2em 'Economica', arial;
  text-shadow: black 0 -1px 1px;
}

/* line 38, ../sass/screen.scss */
#menu-outer {
  position: relative;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #333333));
  background: -webkit-linear-gradient(#444444, #333333);
  background: -moz-linear-gradient(#444444, #333333);
  background: -o-linear-gradient(#444444, #333333);
  background: -ms-linear-gradient(#444444, #333333);
  background: linear-gradient(#444444, #333333);
}

/* line 43, ../sass/screen.scss */
#menu {
  clear: left;
  padding: 10px 0;
  width: 980px;
  margin: 0 auto;
}
/* line 48, ../sass/screen.scss */
#menu li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#menu li {
  *display: inline;
}

/* line 53, ../sass/screen.scss */
#actions {
  float: right;
  font: bold 1em 'Economica', arial;
}
/* line 56, ../sass/screen.scss */
#actions li {
  color: #EEE;
  display: block;
  cursor: pointer;
  border: 1px solid #111;
  text-transform: uppercase;
  text-shadow: black 0 1px 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 64, ../sass/screen.scss */
#actions li:hover, #actions li:focus {
  color: #333;
  text-shadow: #cccccc 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: -ms-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
}

/* line 72, ../sass/screen.scss */
#menu-download {
  font-size: 2em;
  padding: 0 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #885555), color-stop(100%, #990000));
  background: -webkit-linear-gradient(#885555, #990000);
  background: -moz-linear-gradient(#885555, #990000);
  background: -o-linear-gradient(#885555, #990000);
  background: -ms-linear-gradient(#885555, #990000);
  background: linear-gradient(#885555, #990000);
}

/* line 78, ../sass/screen.scss */
#menu-share {
  margin: -40px 0 5px;
  font-size: 2em;
  padding: 0 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}

/* line 85, ../sass/screen.scss */
.button {
  padding: 7px 10px;
  color: #EEE;
  cursor: pointer;
  font: bold 1em 'Economica', arial;
  border: 1px solid #111;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: black 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.button {
  *display: inline;
}
/* line 96, ../sass/screen.scss */
.button:hover, .button:focus {
  background: #444;
}
/* line 99, ../sass/screen.scss */
.button.menu-selected, .button:active {
  color: #333;
  text-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: -ms-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
}

/* line 107, ../sass/screen.scss */
.toolbar {
  display: none;
  margin-top: 1px;
  background: #333;
}
/* line 113, ../sass/screen.scss */
.toolbar section {
  width: 980px;
  margin: 0 auto;
  padding: 10px 0;
}
/* line 118, ../sass/screen.scss */
.toolbar h2 {
  display: none;
  margin: 0 0 10px 0;
  color: #EEE;
  font: bold 1.5em 'Economica', arial;
  text-shadow: black 0 -1px 1px;
}
/* line 125, ../sass/screen.scss */
.toolbar .field {
  padding: 7px 10px;
  border: 1px solid #111;
  position: relative;
  height: 16px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-shadow: #111111 0 1px 0;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.toolbar .field {
  *display: inline;
}
/* line 134, ../sass/screen.scss */
.toolbar .field label {
  color: #EEE;
  font: bold 1em 'Economica', arial;
  margin-right: 4px;
  text-shadow: black 0 -1px 1px;
}
/* line 142, ../sass/screen.scss */
.toolbar .field .input {
  margin-right: 10px;
  min-width: 25px;
  color: #EEE;
  font: bold 1em 'Economica', arial;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
}
/* line 7, ../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.toolbar .field .input {
  *display: inline;
}
/* line 151, ../sass/screen.scss */
.toolbar .field .sb {
  position: absolute;
  right: 0;
  display: block;
  width: 20px;
  height: 15px;
  text-align: center;
  color: #FFF;
  line-height: 15px;
  cursor: pointer;
  text-shadow: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #222222));
  background: -webkit-linear-gradient(#444444, #222222);
  background: -moz-linear-gradient(#444444, #222222);
  background: -o-linear-gradient(#444444, #222222);
  background: -ms-linear-gradient(#444444, #222222);
  background: linear-gradient(#444444, #222222);
}
/* line 163, ../sass/screen.scss */
.toolbar .field .sb:hover, .toolbar .field .sb:focus {
  color: #333;
  text-shadow: #cccccc 0 -1px 1px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: -ms-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
}
/* line 169, ../sass/screen.scss */
.toolbar .field .sb-plus {
  top: 0;
  border: solid #111;
  border-width: 0 0 1px 1px;
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}
/* line 175, ../sass/screen.scss */
.toolbar .field .sb-minus {
  bottom: 0;
  line-height: 14px;
  border-left: 1px solid #111;
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}
/* line 181, ../sass/screen.scss */
.toolbar .field ::selection {
  background: transparent;
}
/* line 184, ../sass/screen.scss */
.toolbar .field ::-moz-selection {
  background: transparent;
}
/* line 188, ../sass/screen.scss */
.toolbar input[type='text'] {
  border: 0;
  margin: 0;
  padding: 0;
  font: bold 1em 'Economica', arial;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cccccc), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(#cccccc, #eeeeee);
  background: -moz-linear-gradient(#cccccc, #eeeeee);
  background: -o-linear-gradient(#cccccc, #eeeeee);
  background: -ms-linear-gradient(#cccccc, #eeeeee);
  background: linear-gradient(#cccccc, #eeeeee);
}
/* line 193, ../sass/screen.scss */
.toolbar input[type='text'].small {
  width: 30px;
}
/* line 194, ../sass/screen.scss */
.toolbar input[type='text'].medium {
  width: 100px;
}
/* line 195, ../sass/screen.scss */
.toolbar input[type='text'].large {
  width: 180px;
}
/* line 196, ../sass/screen.scss */
.toolbar input[type='text'].adjustable {
  margin-right: 20px;
}
/* line 199, ../sass/screen.scss */
.toolbar input[type='text']::selection {
  background: red;
}
/* line 202, ../sass/screen.scss */
.toolbar input[type='text']::-moz-selection {
  background: lightgreen;
}
/* line 206, ../sass/screen.scss */
.toolbar #columns-width {
  display: inline;
}
/* line 209, ../sass/screen.scss */
.toolbar textarea {
  width: 50%;
  height: 300px;
}

/* line 215, ../sass/screen.scss */
#insert-position {
  display: inline;
}

/* line 219, ../sass/screen.scss */
#page {
  width: 960px;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* line 226, ../sass/screen.scss */
#page .col {
  float: left;
  background: #FFF;
  min-height: 100px;
  position: relative;
  outline: 0;
  overflow: hidden;
}
/* line 235, ../sass/screen.scss */
#page .col .col {
  background: #EEE;
}
/* line 238, ../sass/screen.scss */
#page .col:hover {
  background: #ffffdd;
}
/* line 241, ../sass/screen.scss */
#page .col.selected {
  background: #FFA;
}
